# chat
node_modules
node_modules/**
node_modules/*
./node_modules/*
./*.zip/*
/dist/
/chat/build/*
/chat/build

# admin
node_modules/
/dist/

# service
node_modules/
/service/.env
service/**/.env
/dist/

.idea/
*.log
*.iml
node_modules/