# 服务器ip
NINE_AI_HOST=
# 授权码
NINE_AI_KEY=

# mysql
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASS=chat-nine-ai-pass
DB_DATABASE=chatgpt

#  mailer 邮件服务
MAILER_HOST=smtp.163.com
MAILER_PORT=465
MAILER_USER=
MAILER_PASS=
MAILER_FROM=

# Redis
REDIS_PORT=6379
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=

# mj并发数
CONCURRENCY=3

# jwt token
JWT_SECRET=chat-cooper
# jwt token 过期时间
JWT_EXPIRESIN=7d
# 自定义端口
PORT=9520
